<!DOCTYPE html>

<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="./css/normalize.css">

<link rel="stylesheet" href="./css/stylize.css">

<title>Postcode distance calculator</title>

</head>

<body>


<script type="importmap">
  {
      "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
	  // "vue": "./js/vue-3.2.47.js"
    }
  }
</script>

 
<script type="module">
import { createApp, ref } from 'vue'

createApp({
  setup() {

      const origins = ref('SW1A 0AA\n' +
			  'WC2A 2LL\n' +
			  'EC4M 8AD\n' +
			  'M3 1WY');
      
      const dests = ref('N1C 4BA, Kings Cross St. Pancras\n' +
			'EH1 1BB, Edinburgh Waverley');

      const status = ref(0);

      const blah = ref('');

      let final_csv = ref('Origin');

      const raw_data = ref('');
      

      function download_csv() {

	  const date = new Date();

	  const filename = 'distances_' + date.getFullYear() + '_' +
		date.getMonth() + '_' + date.getDate() + '.csv';

	  console.log(filename);

          let element = document.createElement('a');
	  
	  element.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(final_csv));
	  
	  element.setAttribute('download', filename);

	  element.style.display = 'none';
	  
	  document.body.appendChild(element);

	  element.click();
	  
	  document.body.removeChild(element);  
	  
      }
      

      function find_distances() {

	  status.value = 1;

	  const [origin_objs, dest_objs] = setup_data_structs();

	  const coord_origin_objs_prom = coords_via_api(origin_objs);

	  const coord_dest_objs_prom = coords_via_api(dest_objs);

	  Promise.all([coord_origin_objs_prom, coord_dest_objs_prom]).then(
  	      (data) => find_distances_part_two(data)
	  );
	  
      };


      function find_distances_part_two(data) {

	  status.value = 2;

	  console.log(data[0]);

	  const origin_objs = merge_objs(data[0], data[1]);

	  console.log(origin_objs);

	  status.value = 3;

	  const sorted_objs = sort_data(origin_objs);

	  raw_data.value = JSON.stringify(sorted_objs);

	  format_data(sorted_objs);

	  status.value = 4;

      };


      function format_data(origin_objs) {

	  origin_objs[0]['dests'].forEach( (element, index) =>

	      final_csv.value = final_csv.value + ',Location_' + index + ',Distance'

	  );

	  final_csv.value = final_csv.value + '\n';

	  console.log(final_csv.value);

	  origin_objs.forEach(

	      obj => (
		  final_csv.value = final_csv.value +
		      obj['postcode'] + ',' +
		      format_dest_distances(obj) + '\n')

	  );

      };

      
      function format_dest_distances(dests_objs) {

	  console.log(dests_objs);

	  const csv_line_part = ''

	  const csv_line_array = dests_objs['dests'].map(

	      obj => (

		  obj['name'].trim() + ',' + Math.floor(obj['distance'] * 99 * 1000)

    )
    )

	  return csv_line_array.join(',');

      };


      function sort_data(objs) {

	  console.log(objs);

	  const new_objs = objs.map (

	      obj => (

		  { ...obj,
		    'dests': obj['dests'].sort((a, b) => (a.distance > b.distance) ? 1 : -1) }
		  
	      )
	  );

	  return new_objs;

      };
      
      
      function merge_objs(origin_objs, dest_objs) {

	  //  {  postcode: 'AAA AAA', ... }
	  //  -->
	  //    {  postcode: 'AAA AAA', ...
    //       dests: [ { ... }, { ... }, { ... } ]  }

    

	  const new_origin_objs = origin_objs.map(

	      obj => (
		  {...obj, 'dests': augment_dest_objs(obj, dest_objs)}
	      )

	  );

	  return new_origin_objs;

      };


      function augment_dest_objs(origin_obj, dest_objs) {

	  const new_dest_objs = dest_objs.map( dest_obj => (

	      { ...dest_obj,
		'distance': compute_distance(origin_obj, dest_obj) }

	  )
				       );

	  return new_dest_objs;
	  
      };


      function compute_distance(origin_obj, dest_obj) {

	  const long_dist = origin_obj['long'] - dest_obj['long'];

	  const lat_dist = origin_obj['lat'] - dest_obj['lat'];

	  const distance = Math.sqrt(long_dist * long_dist + lat_dist * lat_dist);

	  // console.log(long_dist, lat_dist, distance)

	  return distance;

      };
      

      async function coords_via_api(location_objs) {

	  //  [ { ... }, { ... }, { ... } ]
	  //  -->  [ { ..., long: '0.3402', lat: '0.3497' }, ... ]

	  const new_objs = await Promise.all(location_objs.map(fetch_data));

	  // console.log('coords_via_api()');
	  
	  // console.log(new_objs);

	  return new_objs;
	  

      };


      async function fetch_data(location_obj, index) {

	  //  { postcode: 'AAA AAA', ... }
	  //  -->  { postcode: 'AAA AAA', ...,
	  //        long: '0.002020',
	  //        lat: '-0.304373' }

	  const url = postcode_to_url(location_obj['postcode']);

	  const mapbox_res = await fetch(url);
	  
	  const mapbox_json = await mapbox_res.json();

	  const top_hit_coords = mapbox_json.features[0].geometry.coordinates;

	  location_obj['long'] = top_hit_coords[0];

	  location_obj['lat'] = top_hit_coords[1];

	  // console.log(index + 'fetched');

	  return location_obj;

      };

      
      function postcode_to_url(postcode) {

          //  Note: limit as of 2023-04 is 600 geocode requests/minute
	  //  https://docs.mapbox.com/api/overview/

	  //  'AAA AAA'
	  //  -->  'https://api.mapbox.com/...AAA AAA...'

	  const mapbox_api_key = 'pk.eyJ1IjoidGVzdC14emEiLCJhIjoiY2xnOXNiaWRvMWFtcDNlcWxzZjRmZDdldSJ9.lKZ_CDvdIh1Y9dw2DGjbOA';

	  return 'https://api.mapbox.com/geocoding/v5/mapbox.places/' +
	      postcode + ', United Kingdom.json?access_token=' +
	      mapbox_api_key;

      };
      
      
      function setup_data_structs() {

	  //  [ 'AAA AAA', 'BBB BBB', ... ]
	  //  -->  [ { postcode: 'AAA AAA' }, ... ]
	  
	  //  [ 'CCC CCC, blah', 'DDD DDD, blah2' ... ]
	  //  -->  [ { postcode: 'BBB BBB',
	  //          name: 'blah' }, ... ]

	  const origin_array = origins.value.trim().split('\n');

	  const dest_array = dests.value.trim().split('\n');

	  const origin_objs = origin_array.map(

	      postcode => {
		  
		  return { 'postcode': postcode }
		  
	      }

	  );

	  
	  const dest_objs = dest_array.map(

	      item => {

		  const postcode = item.split(',')[0];

		  const name = item.split(',')[1];

		  return { 'postcode': postcode,
			   'name': name }
		  
	      }

	  );

	  return [origin_objs, dest_objs];

      };

    
    return {
	origins,
	dests,
	status,
	final_csv,
	raw_data,
	find_distances,
	download_csv
    };
      
  }
}).mount('#app')
</script>


<div id="app">

  <h1>Postcode distance calculator</h1>
    <h2><strong>How this works</strong></h2>

    1. All the postcodes are simultaneously sent to Mapbox API, associated co-ordinates are received in reply
    <br><br>

    2. Rudimentary mathematics is run on each set of co-ordinates (Pythagoras)
    <br><br>

    3. The output is formatted as CSV for sorting with spreadsheet software etc.
    <br><br>

    <strong>Privacy notice:</strong> with the exception of postcode conversion, all data processing is done solely on the computer running this website, via client-side Javascript engines available within any modern web browser.
    <br><br>

    <em>Javascript by Thomas.</em>
    <br><br><br>
    

    

    
  <div class="cols">


  <strong>Origins:</strong><br>
  <textarea v-model="origins"></textarea><br>
  Note: max postcode to co-ordinates conversions per minute is 600 (Mapbox API)
  
  <br><br>
  
  <strong>Destinations:</strong><br>
  <textarea v-model="dests"></textarea><br>
  Note: please only 1 comma (,) per line else the name will be cut short

  <br><br>

  </div>

  <button @click="find_distances" v-if="status === 0">Calculate distances from origins to destinations</button>
  
  <p v-else-if="status === 1">Loading part #1: Finding co-ordinates of postcodes...</p>
  
  <p v-else-if="status === 2">Loading part #2: Finding distances between source and destination co-ordinates...</p>
  
  <p v-else-if="status === 3">Loading part #3: Sorting and formatting data...</p>
  
  <p v-else-if="status === 4"><strong>Final CSV:</strong><br>
    <button @click="download_csv">Download</button>
  
  <textarea v-model="final_csv"></textarea><br>
    Note: the order will accurate, but the metre measurements are an approximation!

    <br><br>

    <strong>Raw data structures JSON:</strong><br>
    <textarea v-model="raw_data"></textarea><br>
  </p>
  

</div>


</body>

</html>
