<!DOCTYPE html>

<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="./css/normalize.css">

<link rel="stylesheet" href="./css/stylize.css">

<title>location calculator</title>

</head>

<body>


<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
  }
</script>


<script type="module">
import { createApp, ref } from 'vue'

createApp({
  setup() {

      const test = ref(0);

      const origins = ref('SW1A 0AA');
      
      const dests = ref('N1 9AL, "Kings Cross St. Pancras"\n' +
			'EH1 1BB, "Edinburgh Waverley"\n');

      const status = ref(0);
      
      function find_distances () {

	  status.value = 1

	  

	  console.log(status.value);

      }

    return {
	test,
	origins,
	dests,
	status,
	find_distances
    }
  }
}).mount('#app')
</script>


<div id="app">

  {{ test }}

  Origins:<br>
  <textarea v-model="origins"></textarea>
  
  <br><br>
  
  Destinations:<br>
  <textarea v-model="dests"></textarea>

  <br><br>

  <button @click="find_distances" v-if="status === 0">Calculate distances from origins to destinations</button>
  <p v-else-if="status === 1">Part 1: Finding co-ordinates of postcodes...</p>

</div>


</body>

</html>
